extends layouts/main-layout.pug 
//- mở rộng cho thành phần main-layout

block content
    main 
        h1 PAGE NOT FOUND builed by PUG and rebuilted by LAYOUT PAGE !! 
//- Ở đây là block + tên tự đặt 