{{#if FF404CSS}} 
{{!-- Nếu như app.js có đối tượng lỗi này mà true thì chứng tỏ nó sẽ sử dụng app.css của login 
// khi đó H1 sẽ tiến hành theo 1 chiều hướng rất khác --}}
<link rel="stylesheet" href="/css/login.css">
{{/if}}
<h1>Page Not Found!</h1>
