extends layouts/main-layout.pug 
block styles
        title #{titlePage}
        link(rel="stylesheet", href="/css/form.css")
        link(rel="stylesheet", href="/css/product.css")
block content
        main
            form.product-form(action="/admin/add-product", method="POST") 
                div.form-control
                    label(for="title") Title:
                    input(type="text", name="title" ,id="title")
                    label(for="name") Name:
                    input(type="text", name="name", id="name")
                button(type="submit") Add product by PUG