<%- include('includes/head.ejs') %>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>This is a LOGIN PAGE by Dang Duc Chinh</h1>
    <form class="product-form" action="/login/login-add-data" method="POST">
        <div class="form-control">
            <label for="title">Name : </label>
            <input type="text" name="name" id="name">
            <br>
            <label for="name">Email : </label>
            <input type="text" name="email" id="email">
        </div>

        <button class="btn" type="submit">UP LGDT on SERVER</button>
    </form>
    </main>
<%- include('includes/end.ejs') %>