extends layouts/main-layout.pug  
block styles
        title #{titlepage}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
block content
        main
        if(prods.length > 0)
            each product in prods 
                .grid
                    article.card.product-item 
                        header.card__header
                            h1.product__title #{product.title}
                            h1.product__title #{product.name}
                        .card__image
                            img(src="https://i.pinimg.com/originals/5b/02/64/5b0264cdaf536e7a6b62fdc920658b34.jpg", alt="The book is me get")
                        .card__content
                            h2.product_price $19.90
                            p.product__description A very interesting booko about so many event more I know are you understand?
                        .card_actions 
                            button.btn Add to Cart
                            br
        else 
            h1 This page is not any book !!! Can you add book in the page ???
                            
