h1{
    color: rgb(56, 211, 4);
    text-align: center;
    text-decoration: underline;
}
p{
    transform: rotateX(2);
    text-decoration-color: aqua;
}
.form-control {
    margin: 1rem 0;
}
.form-control{
    width: 400px;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input {
    border: 1px solid #ff0000;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus {
    outline-color: #b2f300;
}
